page-modal-account {
	.scroll-content {
	    background-color: #fff;
	}
	.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-ios[stacked], .input-has-focus .label-ios[stacked]{
		color: #999;
	}
	.item-md, .item-ios{
		margin-bottom: 20px;
	}
	.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
		border-bottom-color: #4c3e80;
	    -webkit-box-shadow: inset 0 -1px 0 0 #4c3e80;
	    box-shadow: inset 0 -1px 0 0 #4c3e80;
	}
	.content-button{
		text-align: center;
		margin-top: 20px;
	}
	.button-md, .button-ios, .button-md.activated{
		background-color: #1c2044;
	}
	.danger{
		border-bottom: 1px solid #c71717;
	}
}
