page-codepassword {
	.content-ios, .content-md {
	    color: #fff;
	    background-color: #00203e;
	}
	.align-right{
		text-align:center;
		margin: 10px 0px 30px 0px;
	}
	.align-right img{
		width: 35%;
    	margin: auto;
    	display: block;
	}
	.content-form{
		padding: 10px 20px;
	}
	.list-ios {
    	margin: -1px 0 0px;
	}
	.info-password{
		margin-top: 5px;
	    text-align: justify;
	    padding: 0px;
	    font-size: 13px;
	    margin-bottom: 10px;
	    color: #fff;
	}
	.item-ios, .item-md{
		background-color: transparent;
		padding-left: 0px;
	}
	.list-ios > .item-block:first-child {
    	border-top: none;
	}
	.list-ios .item-block .item-inner, .list-md .item-block .item-inner, .list-md .item-input:last-child, .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    	border-bottom: none;
	}
	.label-ios[stacked], .label-md[stacked]{
		color: #ffffff;
		font-weight: bold;
		font-size: 15px;
		margin-bottom: 7px;
	}
	.item-input ion-input{
		background-color: #ffffff;
		border-radius: 3px;
	}
	.item-ios.item-block .item-inner, .item-md.item-block .item-inner{
		padding-right: 0px;
	}
	.b-login{
		border-radius: 4px;
	    background-color: transparent;
	    border: 1px solid #fff;
	    color: #fff;
	    font-weight: normal;
	    font-size: 15px;
	    width: 100%;
	    text-transform: inherit;
	    font-weight: 500;
	    margin-top: 10px;
	}
	.bt-login{
		border-radius: 4px;
	    background-color: transparent;
	    border: 1px solid #fff;
	    color: #fff;
	    font-weight: normal;
	    font-size: 15px;
	    width: 100%;
	    text-transform: inherit;
	    font-weight: 500;
	    margin-top: 10px;
	    margin-bottom: 30px;
	}
	.content-button{
		margin: 25px 0px;
	}
	.icon-pay{
		font-size: 24px;
    	color: #fff;
	}
	.alert-danger{
		top: 2px;
	    position: relative;
	    font-size: 12px;
	    color: #c71717;
	    font-weight: bold;
	}
}
