<ion-header>
  <ion-navbar>
    <ion-title>RECUPERAR CONTRASEÑA</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="content-form">
		<div class="align-right">
			<img src="assets/imgs/logo-w.png">
		</div>
		<div>
			<p class="info-password">Ingrese el código de verificación de 6 dígitos que recibió en la bandeja de entrada de su correo electrónico.</p>
		</div>
		<form [formGroup]="CodepasswordForm">
			<ion-list>
			    <ion-item>
				    <ion-label stacked>Código de Verificación</ion-label>
				    <ion-input type="text" formControlName="codigo"></ion-input>
				</ion-item>
				<div *ngIf="formErrors.codigo" class="alert-danger">
		          {{ formErrors.codigo }}
		        </div>
		  	</ion-list>
		</form>
		<button ion-button icon-start class="b-login" (click)="codePassword()">Verificar</button>
		<button ion-button icon-start class="b-login" (click)="solicitar()"> Solicitar Nuevo Código</button>
	</div>
</ion-content>
