<ion-header>
  <ion-navbar>
    <ion-title>PREFERENCIAS</ion-title>
    <ion-buttons end>
      <button ion-button class="button-close" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-item *ngFor="let item of collection">
	    <ion-label>{{item.nombre}}</ion-label>
	    <ion-checkbox color="dark" [(ngModel)]="item.checked" (ionChange)="onChange($event.checked,item)"></ion-checkbox>
	</ion-item>
</ion-content>
