<ion-content padding>
	<button ion-button class="button-close" (click)="dismiss()">
	    <ion-icon name="md-close"></ion-icon>
	  </button>
	<p class="title-info">¡Bienvenido a Shopperama!</p>
	<div class="content-card">
		Shopperama es una aplicación móvil de fácil uso donde eliges tus preferencias y puedes realizar tus compras habituales ganando dinero por evaluar los servicios de los diferentes establecimientos, te llegarán notificaciones cuando una convocatoria esté abierta, al asistir y evaluar estarás ganando dinero de una manera rápida, cómoda y segura.
	</div>
	<button ion-button class="btn-add" (click)="dismiss()">Ok</button>
</ion-content>
