page-wallet {
	.scroll-content {
	    background-color: #fff;
	}
	.toolbar-title-md, .toolbar-title-ios{
		color: #ffffff;
    	font-weight: bold;
    	letter-spacing: 5px;
    	text-transform: uppercase;
	}
	.title-suc{
		color: #1c2044;
		font-size: 15px;
	    text-align: center;
	    margin-top: 15px !important;
	}
	.item-md{
		margin-bottom: 20px;
	}
	.btn-add{
		background-color: #1c2044;
	    width: 90%;
	    margin: auto;
	    display: block;
	}
	.title-accountp{
		color: #673AB7;
	    margin-bottom: 0px;
	    font-size: 10px;
	    text-align: center;
	    border: 1px solid;
	    margin: 25px auto 0px;
	    padding: 8px;
	    border-radius: 5px;
	    width: 60%;
	}
	.price-account{
		color: #1d2144;
	    text-align: center;
	    margin-top: 0px;
	}
	.content-price{
		padding: 40px 0px 20px;
    	background-color: #f1f1f1;
	}
	.icon-check{
		color: #4CAF50;
	    font-size: 22px;
	    margin-right: 5px;
	}
	.button-md.activated{
		background-color: #1c2044;
	}
	.info-account{
		color: #9e9e9e;
	    text-align: center;
	    margin-bottom: 50px;
	}
	.icon-check{
		color: #9C27B0;
		margin: 18px 15px 5px 0px !important;
	}
	.text-info{
		text-align: center;
    	color: #673AB7;
	}
}

.msg-alert {
	.alert-message{
		color: #c71717;
		font-size: 13px;
	}
	.alert-sub-title, .alert-message{
		text-align: justify;
	}
}
