<ion-header>
  <ion-navbar>
    <ion-title>
      Finanzas
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
	<ng-progress [color]="'#1d2144'" [spinner]="false" [meteor]="false" [thick]="true"></ng-progress>
	<div class="content-price">
		<h2 class="price-account">Saldo Acreditado:<br>
			<div *ngIf="!show_ac" style="padding-right: 15px;">
		        <ion-spinner></ion-spinner>
		    </div>
			<span *ngIf="show_ac">$ {{balance}}</span>
		</h2>
		<p class="title-accountp" (click)="checkAccount()" *ngIf="status == '' && balance > 8">Retirar saldo a cuenta bancaria</p>
		<p *ngIf="status == 'in_progress'" class="text-info">Estado de Pago: En proceso de transferecia bancaria</p>
	</div>
	<h2 class="title-suc">Cuentas Asociadas</h2>
	<hr class="style-hr">
	<br>
	<ion-list>
	  <ion-item *ngFor="let account of cuentas" (click)="presentActionSheet(account)">
	    <ion-label>
	    	<p style="font-size: 11px;">{{account.nombre_titular}}</p>{{account.cuenta}}
	    </ion-label>
	    <ion-icon item-right name="checkmark-circle-outline" class="icon-check" *ngIf="account.predeterminado == 1"></ion-icon>
	  </ion-item>
	  <p class="info-account" *ngIf="cuentas == ''">No hay cuentas bancarias asociadas.</p>
	  <br>
	  <button ion-button class="btn-add" (click)="presentProfileModal()">Agregar cuenta</button>
	</ion-list>
</ion-content>
