page-register {
	.content-form{
		padding: 10px 20px;
	}
	.content-button{
		margin: 20px 0px;
	}
	.align-right{
		text-align:center;
		margin: 0px 0px 5% 0px;
	}
	.item-ios, .item-md{
		background-color: transparent;
		padding-left: 0px;
	}
	.list-ios > .item-block:first-child {
    	border-top: none;
	}
	.list-ios .item-block .item-inner, .list-md .item-block .item-inner, .list-md .item-input:last-child, .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    	border-bottom: none;
	}
	.label-ios[stacked], .label-md[stacked]{
		color: #ffffff;
		font-weight: bold;
		font-size: 15px;
		margin-bottom: 7px;
	}
	.item-input ion-input{
		background-color: #ffffff;
		border-radius: 3px;
	}
	.item-ios.item-block .item-inner, .item-md.item-block .item-inner{
		padding-right: 0px;
	}
	.icon-eyes{
		position: absolute;
	    right: 0px;
	    top: 37px !important;
	    font-size: 15px !important;
	    color: #999999;
	    z-index: 9999;
	    margin: 0px !important;
	    height: 36px !important;
	}
	.toolbar-title-md, .toolbar-title-ios{
		color: #ffffff;
    	font-weight: bold;
    	letter-spacing: 4px;
    	text-transform: uppercase
	}
	.danger{
		border: 2px solid #c71717;
	}
	.select-md, .select-ios {
    	background-color: #fff;
    	border-radius: 4px;
	}
	.b-login{
		border-radius: 4px;
	    background-color: transparent;
	    border: 1px solid #fff;
	    color: #fff;
	    font-weight: normal;
	    font-size: 15px;
	    width: 100%;
	    text-transform: inherit;
	    font-weight: 500;
	    margin-top: 30px;
	}
	.icon-button{
		margin-right: 15px;
		height: 17px;
	}
	.chip-md, .chip-ios {
		color: #ffffff;
	}
	.p-left{
		padding-left: 0px;
	}
	.p-right{
		padding-right: 0px;
	}
	#map{
		height: 200px;
		width: 100%;
		opacity: 1;
		transition: opacity 150ms ease-in;
		display: block;
		border-radius: 4px;
		&.show-map{
	        opacity: 1;
	    }
	}
	.content-map{
		height: 270px;
	}
	.icon-refresh{
	    font-size: 60px;
	    left: 0px;
	    right: 0px;
	    margin: auto;
	    z-index: 9999;
	}
	.center-map{
		text-align: center;
		height: 200px;
		display: flex;
		align-items: center;
		justify-items: center;
		border-radius: 4px;
		background-color: rgba(255,255,255,0.5);
		p{
			width: 100%;
		}
	}
	.content-dir{
		display: block;
	}
	.dir-text{
		margin-top: 0px;
    	margin-bottom: 20px;
	}
	.text-input[disabled] {
    	opacity: 1;
	}
	.list-header-md, .list-header-ios{
		margin-bottom: 0px;
	    min-height: 4.5rem;
	    border-top: none;
	    border-withd: 1px;
	    font-size: 13px;
	    text-transform: inherit;
	    border-bottom-width: 1px;
    	border-bottom-style: solid;
    	border-bottom-color: rgba(255,255,255,0.8);
    	color: rgba(255,255,255,0.8);
	}
	.list-md + ion-list ion-list-header, .list-ios + ion-list ion-list-header{
		margin-top: 0px;
	}
	.list-md, .list-ios {
	    margin: 20px 0px 10px 0px;
	}
	.chip-md > ion-label{
		margin-right: 0px;
	}

	.autocomplete {
	  width: 100%;

	  ion-item {
	      ion-input {
	          padding: 1px !important;
	      }
	  }

	  ion-list {
	      position: absolute;
	      width: 81%;
	      overflow-y: scroll;
	      max-height: 150%;
	      border: 5px;
	      z-index: 999;

	      ion-item {
	          background: #f1f1f1;
	      }

	      ion-item:hover {
	          cursor: pointer;
	          background: #dddddd
	      }

	      ion-label{
	      	padding-left: 15px;
	      }
	  }
	}
}
