<ion-content padding>
	<ng-progress [color]="'#009688'" [spinner]="false" [meteor]="false" [thick]="true"></ng-progress>
	<div class="content-form">
		<div class="align-right">
			<img src="assets/imgs/logo-w.png" class="animation-target" width="45%">
		</div>
		<form [formGroup]="loginUserForm" novalidate>
			<ion-list>
			  <ion-item>
			    <ion-label stacked>Email</ion-label>
			    <ion-input type="email" formControlName="email"></ion-input>
			  </ion-item>

			  <ion-item>
			    <ion-label stacked>Password</ion-label>
			    <ion-input type="password" formControlName="password"></ion-input>
			  </ion-item>
			</ion-list>
			<button ion-button icon-start class="b-login" (click)="login(loginUserForm)"><img src="assets/imgs/login.png" class="icon-button"> Ingresar</button>
		</form>
		<button ion-button icon-start class="b-login" (click)="loginFacebook()"><img src="assets/imgs/facebook.png" class="icon-button"> Ingresa con Facebook</button>
		<button ion-button icon-start class="bt-login" (click)="loginTwitter()"><img src="assets/imgs/twitter.png" class="icon-button"> Ingresa con Twitter</button>
		<p class="olvido-password" (click)="changePassword()">¿Olvidó su password?</p>
		<div class="link-register" (click)="register()">
			REGISTRATE
		</div>
	</div>
</ion-content>
