<ion-header>
  <ion-navbar>
    <ion-title>Evaluación Producto/Servicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ng-progress [color]="'#1d2144'" [spinner]="false" [meteor]="false" [thick]="true"></ng-progress>
	<div class="header-profile">
    	<img src="{{logo_sucursal}}" alt="empresa" class="img-profile">
    	<p class="name-profile">{{nombre_sucursal}}</p>
	</div>
    <ion-card class="position-card">
		<ion-simple-wizard [(step)]="step" [showSteps]="true" (finish)="onFinish()" [finishIcon]="'done-all'" [(stepCondition)]="stepCondition">
		    <ion-wizard-step>
				<p class="title-account">Evaluación Producto / Servicio</p>
				<p class="title-account">{{poll_name}}</p>
				<ion-list class="content-question">
					<ion-item no-padding *ngFor = "let question of poll_question; let lst = last;">
					    <ion-label stacked>{{question.pregunta}}</ion-label>
					    <ion-select interface="action-sheet" class="select-answer" *ngIf="question.respuestas != ''" [(ngModel)]="question.rpta" (ionChange)="changeQuestion(question)">
							<ion-option [value]="answer.nombre" *ngFor = "let answer of question.respuestas" class="label-resp">{{answer.nombre}}</ion-option>
						</ion-select>
						<ion-textarea clearInput type="text" name="referencia" class="question-open" [(ngModel)]="question.rpta" *ngIf="question.respuestas == ''" (ionChange)="changeQuestion(question)"></ion-textarea>
					</ion-item>	
				</ion-list>
		    </ion-wizard-step>
		    <ion-wizard-step>
		    	<p class="title-account">Evaluación Producto / Servicio</p>
		    	<div class="content-flex">
		    		<img src="assets/imgs/ticket.png" #imageViewer [hidden]="true"/>
					<p class="text-13">Captura una imagen con el ticket de tu compra en nuestro establecimiento. <a (click)="viewReferenceTicket()" title="ticket">Ver referencia</a></p>
				</div>
				<img [src]="selectedImage">
				<button ion-button icon-start class="b-calification mb-80" (click)="presentActionSheet()"><ion-icon name="camera" class="icon-camera" class="icon-button"></ion-icon> Capturar imagen</button>	
		    </ion-wizard-step>
		    <!--ion-wizard-step>
		      	<p class="title-account">Evaluación Producto / Servicio</p>
		    	<div class="content-flex">
		    		<img src="{{image2}}" #imageViewer1 [hidden]="true"/>
					<p class="text-13">Vuelve a capturar la imagen del ticket y recorta solo el monto total que pagaste.<a (click)="viewREference()" title="ticket">Ver referencia</a></p>
				</div>
				<img [src]="selectedImage1">
				<button ion-button icon-start class="b-calification" (click)="getPicture1()"><ion-icon name="camera" class="icon-camera" class="icon-button"></ion-icon> Capturar imagen</button>		
				<div class="img-text mb-80">
					Has ingresado un monto de: <br>$ {{ imageText }}
				</div>
		    </ion-wizard-step-->
		    <ion-wizard-step>
		      	<p class="title-account">Evaluación Producto / Servicio</p>
		    	<div class="content-flex">
					<p class="text-13">Ingresa el monto pagado del ticket para verificar en nuestra plataforma y procesar tu solicitud.</p>
				</div>
				<ion-list class="mb-80">
				  <ion-item style="border: 1px solid #ccc !important; border-radius: 4px;">
				    <ion-label color="primary"><b>$</b></ion-label>
				    <ion-input type="number" placeholder="0.00" [(ngModel)]="mount_payment" (ionChange)="changeMount(mount_payment)"></ion-input>
				  </ion-item>
				</ion-list>	
		    </ion-wizard-step>
		    <ion-wizard-step *ngIf="sucursales.length>1">
				<p class="title-account">Evaluación Producto / Servicio</p>
				<div class="content-flex">
					<p class="text-13">Selecciona una sucursal a la cual quieres aplicar la encuesta.</p>
				</div>
				<ion-list class="content-question" radio-group [(ngModel)]="create_respuesta.sucursal_id">
					<ion-item *ngFor = "let sucursal of sucursales" class="item-dir">
						<ion-label class="label-dir">
							<h2>{{sucursal.nombre}}</h2>
							<p class="text-dir"><img src="assets/imgs/user-pinned.png" alt="ubicacion" class="icon-dir"> {{sucursal.direccion}}</p> 
						</ion-label>
						<ion-radio [value]="sucursal.id"></ion-radio>
					</ion-item>	
				</ion-list>
		    </ion-wizard-step>
		</ion-simple-wizard>
	</ion-card>
</ion-content>
