// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../node_modules/cropperjs/dist/cropper';
.content-ios, .content-md {
    color: #fff;
    background-image: url('../assets/imgs/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-ios[stacked], .input-has-focus .label-ios[stacked]{
	color: rgba(255,255,255,0.5);
}
.item-label-stacked .select-md, .item-label-stacked .select-ios, .item-label-stacked .text-input-md, .item-ios.item-label-stacked .text-input{
	padding-left: 5px;
}
ion-header ion-icon.back-button-icon.icon, .tabs-md .tab-button-icon, .tabs-ios .tab-button-icon, .toolbar-title-md, .toolbar-title-ios, .bar-button-default-md {
  color: #ffffff;
}
.toolbar-title-md, .toolbar-title-ios {
	font-size: 18px;
}
.button-md.activated,.button-ios.activated, .button-md:hover:not(.disable-hover), .button-ios:hover:not(.disable-hover){
  background-color: transparent;
}
.toolbar-background-md, .toolbar-background-ios {
    border-color: transparent;
    background: transparent;
    border-bottom: none !important;
}
.tabs-md .tabbar, .tabs-ios .tabbar{
    background-color: transparent !important;
}
.tabs-md .tab-button[aria-selected=true], .tabs-md .tab-button[aria-selected=true] .tab-button-icon, .tabs-ios .tab-button[aria-selected=true], .tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
    color: #ffffff;
    background-color: transparent !important;
}
.tabs-md .tab-button-icon{
    color: #9E9E9E;
}
.radio-md .radio-inner{
    background-color: #26599a;
}
.radio-md .radio-checked {
    border-color: #40468a;
}
.item-radio-checked.item-md ion-label, .alert-md .alert-button, .alert-md .alert-title {
    color: #493C7D;
}
.alert-md .alert-wrapper{
    border-radius: 15px;
}
ion-spinner *, .loading-ios .spinner-ios line, .loading-md .spinner-ios line {
  stroke: #493C7D;
  fill: #493C7D;
}
ion-modal{
  background-color: #ffffff;
}
.style-hr{
    background-color: transparent !important;
   background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
}

.tabbar, .tabs-ios, .tabs-md , .tabs-wp{ 
    .tab-button-icon {
        display: block;
        background-repeat:no-repeat;
        background-position:center;
        height:24px;
        width:24px;
        background-size:contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        &:before {
            display:none;
        }
    }
}
.tabs-ios {
  a[aria-selected=false]{
    .tab-button-icon[ng-reflect-name=menus], .tab-button-icon[aria-label="menus outline"] {
      background-image: url(../assets/imgs/menu.png);
      height:20px;
      width:20px;
    }
    .tab-button-icon[ng-reflect-name=envio], .tab-button-icon[aria-label="envio outline"] {
      background-image: url(../assets/imgs/sticker.png);
      height:25px;
      width:25px;
    }
    .tab-button-icon[ng-reflect-name=usuario], .tab-button-icon[aria-label= "usuario outline"] {
      background-image: url(../assets/imgs/userm.png);
      height:20px;
      width:20px;
    }
  }
  a[aria-selected=true]{
    .tab-button-icon[ng-reflect-name=menus], .tab-button-icon[aria-label="menus"] {
      background-image: url(../assets/imgs/menu.png);
      height:20px;
      width:20px;
    }
    .tab-button-icon[ng-reflect-name=envio], .tab-button-icon[aria-label="envio"] {
      background-image: url(../assets/imgs/sticker.png);
      height:25px;
      width:25px;
    }
    .tab-button-icon[ng-reflect-name=usuario], .tab-button-icon[aria-label="usuario"] {
      background-image: url(../assets/imgs/userm.png);
      height:20px;
      width:20px;
    }
  }
}
.tabs-md {
  a[aria-selected=false], a[aria-selected=true]{
    .tab-button-icon[ng-reflect-name=menus], .tab-button-icon[aria-label="menus"] {
      background-image: url(../assets/imgs/menu.png);
      height:21px;
      width:21px;
    }
    .tab-button-icon[ng-reflect-name=envio], .tab-button-icon[aria-label="envio"] {
      background-image: url(../assets/imgs/sticker.png);
      height:24px;
      width:24px;
    }
    .tab-button-icon[ng-reflect-name=usuario], .tab-button-icon[aria-label="usuario"] {
      background-image: url(../assets/imgs/userm.png);
      height:21px;
      width:21px;
    }
  }
}
.tabs-wp {
  a[aria-selected=false], a[aria-selected=true]{
    .tab-button-icon[ng-reflect-name=menus], .tab-button-icon[aria-label="menus"] {
      background-image: url(../assets/imgs/menu.png);
      height:23px;
      width:23px;
    }
    .tab-button-icon[ng-reflect-name=envio], .tab-button-icon[aria-label="envio"] {
      background-image: url(../assets/imgs/sticker.png);
      height:30px;
      width:30px;
    }
    .tab-button-icon[ng-reflect-name=usuario], .tab-button-icon[aria-label="usuario"] {
      background-image: url(../assets/imgs/userm.png);
      height:19px;
      width:19px;
    }
  }
}

ion-label {
  white-space: pre-line !important;
  font-size: 13px;
}
.popover-md .popover-content,.popover-ios .popover-content{
    width: calc(100% - 80px) !important;
  }
.alert-radio-label.sc-ion-alert-ios {
white-space: pre-line !important;
}
.modal-detail1 {
  background: rgba(0, 0, 0, 0.5) !important;
  padding: 5vh 3vh !important;
  .modal-wrapper {
    background-color: #fff;
    border-radius: 20px;
    height: 430px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
  }
}
body.keyboard-is-open .tabs-md .tabbar, body.keyboard-is-open .tabs-ios .tabbar{
  display: none !important;
}
body.keyboard-is-open .tabbar.show-tabbar {
  display: none !important;
}