page-edit-profile {
	.content-form{
		padding: 10px 20px;
	}
	.content-button{
		margin: 20px 0px;
	}
	.content-header{
		padding: 30px 0px 5px 0px;
	}
	.align-right{
		text-align:center;
	}
	.img-social{
		border-radius: 50px;
		width: 100px;
		height: 100px;
		object-fit: cover;
	}
	.text-info{
		text-align: center;
	    color: rgba(255,255,255,0.6);
	    margin: 18px 30px 5px 30px;
	    font-size: 13px;
	}
	.text-mouver{
    	font-weight: bold;
	}
	.bt-login{
		border-radius: 4px;
	    background-color: transparent;
	    border: 1px solid #fff;
	    color: #fff;
	    font-weight: normal;
	    font-size: 15px;
	    width: 100%;
	    text-transform: inherit;
	    font-weight: 500;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.icon-button{
		margin-right: 15px;
		height: 17px;
	}
	.item-ios, .item-md{
		background-color: transparent;
		padding-left: 0px;
	}
	.list-ios > .item-block:first-child {
    	border-top: none;
	}
	.list-ios .item-block .item-inner, .list-md .item-block .item-inner, .list-md .item-input:last-child, .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    	border-bottom: none;
	}
	.label-ios[stacked], .label-md[stacked]{
		color: #ffffff;
		font-size: 15px;
		margin-bottom: 7px;
	}
	.item-input ion-input{
		background-color: #ffffff;
		border-radius: 3px;
	}
	.item-ios.item-block .item-inner, .item-md.item-block .item-inner{
		padding-right: 0px;
	}
	.item.item-md .checkbox-md {
	    margin: 9px 15px 9px 0px;
	}
	.white{
		color: #ffffff;
		font-size: 15px;
	}
	.content-check{
		background-color: transparent;
    	box-shadow: none;
	}
	.toolbar-title-md, .toolbar-title-ios{
		color: #ffffff;
    	font-weight: bold;
    	letter-spacing: 5px;
    	text-transform: uppercase;
	}
	.danger{
		border: 2px solid #c71717;
	}
	.select-md, .select-ios {
    	background-color: #fff;
    	border-radius: 4px;
	}
	.p-left{
		padding-left: 0px;
	}
	.p-right{
		padding-right: 0px;
	}
	.chip-md, .chip-ios {
		color: #ffffff;
	}
	.list-header-md{
		margin-bottom: 0px;
	    min-height: 4.5rem;
	    border-top: none;
	    border-withd: 1px;
	    font-size: 13px;
	    border-bottom-width: 1px;
    	border-bottom-style: solid;
    	border-bottom-color: rgba(255,255,255,0.8);
    	color: rgba(255,255,255,0.8);
	}
	.list-md + ion-list ion-list-header{
		margin-top: 0px;
	}
	.list-md {
	    margin: 0px 0px 10px 0px;
	}
	.link-edit{
		display: block;
	    margin-top: 10px;
	    color: rgb(255, 255, 255);
	}
	.icon-camera{
		margin-right: 3px;
	    position: relative;
	    top: 1px;
	}
	.autocomplete {
	  width: 100%;

	  ion-item {
	      ion-input {
	          padding: 1px !important;
	      }
	  }

	  ion-list {
	      position: absolute;
	      width: 81%;
	      overflow-y: scroll;
	      max-height: 150%;
	      border: 5px;
	      z-index: 999;

	      ion-item {
	          background: #f1f1f1;
	      }

	      ion-item:hover {
	          cursor: pointer;
	          background: #dddddd
	      }

	      ion-label{
	      	padding-left: 15px;
	      }
	  }
	}
}
