page-accept-question {
	.content-ios, .content-md {
	    color: #000;
	}
	.header-profile{
		background-image: url(../assets/imgs/background1.jpg);
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: top;
	    text-align: center;
	    padding: 15% 0% 0%;
	    height: 45%;
	}
	.img-profile{
	    border-radius: 50%;
	    width: 100px;
    	height: 100px;
	}
	.name-profile{
		font-size: 17px;
	    margin: 10px;
	    color: #fff;
	    font-weight: bold;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	}
	.content-count{
		color: #fff;
		text-align: center;
	}
	.number-count{
		font-size: 20px;
		margin: 3% 0px;
	}
	.title-count{
		margin: 0px 0px 3px;
		font-size: 13px;
	}
	[col-4]{
		padding: 0px;
		margin: 4px 0px;
	}
	.content-card{
		background-color: #fff;
		height: 55%;
	}
	.logout-title{
		color: #0b417a;
	    display: block;
	    text-align: right;
	    font-size: 15px;
	    text-transform: unset;
	    margin: 15px 7%;
	}
	.icon-edit{
		font-size: 20px;
	    text-align: right;
	    position: absolute;
	    color: #fff;
	    right: 25px;
	    top: 8%;
	    border: 1px solid #fff;
	    border-radius: 50%;
	    width: 28px;
	    height: 28px;
	    padding: 3px 6px;
	}
	.badge-md, .badge-ios {
	  color: #fff;
	  background-color: #D32F2F;
	  width: 16px;
	  height: 16px;
	  border-radius: 50%;
	  font-size: 11px;
	  position: absolute;
	  right: 19px;
	  top: 6.8%;
	  padding: 3px 0%;
	  z-index: 2;
	}
	.img-bank{
		background-color: #fff;
	    width: auto;
	    display: inline-block;
	    padding: 7px;
	    border-radius: 50%;
	    height: 30px;
	    width: 30px;
	    margin-right: 10px;
	}
	.content-pay{
		background-color: #493C7D;
		font-weight: bold;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		color: #fff;
		height: 15%;
		p{
			margin: 0px;
		    display: inline-block;
		    white-space: nowrap;
		}
	}
	[col-12]{
		align-items: center;
	}
	.content-menu{
		height: 85%;
	}
	.item-menu{
		height: auto;
	}
	.item-center{
		height: 100%;
	    align-items: center;
	    display: flex;
	    padding-left: 5%;
	    white-space: nowrap;
	}
	.icon-menu{
		margin-right: 10px;
		color: #493C7D;
	}
	.title-account{
		margin-left: 20px;
	    font-size: 14px;
	    font-weight: bold;
	    color:  #493C7D;
	    display: flex;
	    align-items: center;
	}
	.text-mount{
		margin: 0px;
	    font-size: 16px;
	    font-weight: bold;
	    text-transform: uppercase;
	}
	.center{
		text-align: center;
	}
	.title-amount{
		font-size: 13px;
    	margin: 5px 0px 0px;
	}
	.img-empresa{
		width: 70px;
		height: 70px;
		border-radius: 50em;
	}
	.b-no{
		margin-top: 15px;
	    background-color: #B71C1C;
	    width: 120px;
	}
	.b-si{
		margin-top: 15px;
	    background-color: #1565C0;
	    width: 120px;
	}
	.icon-b{
		position: absolute;
    	left: 12px;
    	top: 13px;
    	font-size: 16px;
	}
	.h-25{
		height: 25%;
	}
	.h-45{
		height: 45%;
	}
	.h-30{
		height: 30%;
	}
	@media only screen and (device-width: 320px) and (device-height: 480px){
	  .header-profile{
	  	height: 50%;
	  }
	  .content-card{
	  	height: 50%;
	  }
	  .img-profile{
	    width: 50px !important;
    	height: 50px !important;
	  }
	}
	@media only screen and (max-height: 640px){
	  .img-profile{
	    width: 70px;
    	height: 70px;
	  }
	}
}
