page-evaluation-detail {
	.scroll-content {
	    background-color: #f4f4f4;
	}
	.img-ent{
		border: 1px solid #ffffff;
    	background-color: #fafafa;
	}
	.item-dir{
		background-color: #2b3868;
	}
	.text-dir{
		font-size: 12px;
		color: #ffffff;
	}
	.position-card{
		padding: 0px 0px 10px 0px;
	}
	.title-suc{
		color: #ffffff;
	}
	.title-account{
		text-align: center;
	    font-size: 15px;
	    font-weight: bold;
	    color:  #493C7D;
	    margin-top: 20px;
	}
	.text-description{
		color: #607d8b;
	    font-size: 12px;
	    text-align: justify;
	    padding: 5px 25px;
	    margin-bottom: 10px;
	}
	.title-question{
		//color: #2268a3;
		color: #4094ae;
	    font-weight: bold;
	    font-size: 14px;
	    background-color: rgba(93, 199, 199, 0.16);
	    text-transform: lowercase;
	    padding: 2px 10px;
	    border-radius: 4px;
	}
	.content-questions{
		padding: 0px 25px;
		margin-bottom: 10px;
	}
	.text-answer{
		color: #607d8b;
	    font-size: 12px;
	    margin-left: 5px;
	}
	.img-receipt{
		width: 60%;
	    margin: 25px auto;
	    border-radius: 4px;
	}
	.color-detail{
		font-size: 13px;
		margin-top: 4px;
	}
}
