<ion-header>
  <ion-navbar>
    <ion-title>
      Detalle evaluación
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
	<ng-progress [color]="'#1d2144'" [spinner]="false" [meteor]="false" [thick]="true"></ng-progress>
    <ion-card class="position-card">
		<ion-list>
			<ion-item class="item-dir">
				<ion-avatar item-start>
			      <img src="{{logo_sucursal}}" alt="empresa" class="img-ent">
			    </ion-avatar>
			    <h2 class="title-suc">{{nombre_sucursal}}</h2>
			    <p class="text-dir">{{sucursal_direccion}}</p> 
			</ion-item>
			<p class="title-account">{{nombre}}</p>
			<hr class="style-hr">
			<p class="text-description">{{descripcion}}</p>
			<div *ngFor = "let question of cuestionario" class="content-questions">
				<p class="title-question">{{question.pregunta}}</p>
				<p class="text-answer">{{question.rpta}}</p>
			</div>
			<br>
			<hr class="style-hr" style="margin-top: -5px;">
			<div class="content-questions">
				<img src="{{img_factura}}" #imageViewer [hidden]="true"/>
				<p class="color-detail"><ion-icon name="paper"></ion-icon> Ticket: <a (click)="viewTicket()" style="float: right;"><ion-icon name="search" style="font-size: 13px;"></ion-icon> Ver ticket</a></p>
				<p class="color-detail"><ion-icon name="cash"></ion-icon> Monto: <span style="float: right;">$ {{monto_pagado}}</span></p>
				<p class="color-detail">Estado: <span *ngIf="estado == 1">En Revisión.</span><span *ngIf="estado == 2">Aprobada/Pagada.</span><span *ngIf="estado == 3">Rechazado.</span></p>
				<p class="color-detail" *ngIf="estado == 3">Motivo: {{motivo}}</p>
			</div>
		</ion-list>
	</ion-card>
</ion-content>
