carousel {
	.carousel-container {
	  padding: 30px 0;
	  margin: 0 auto;
	  width: 220px;
	  height: 180px;
	  position: relative;
	  perspective: 1000px;
	}
	.carousel {
	  height: 100%;
	  width: 100%;
	  position: absolute;
	  transform-style: preserve-3d;
	  transition: transform 1s;
	}
	.carousel-slide-item {
	  display: block;
	  position: absolute;
	  //background:rgba(28, 32, 68, 0.75);
	  background:rgba(255, 255, 255, 0.99);
	  width: 100%;
	  height: auto;
	  text-align: center;
	  color: rgba(28, 32, 68,1);
	  opacity: 0.95;
	  border-radius: 15px;
	  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
		box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
		-webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
		transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
		transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
		transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.buttom-tg{
		color: #fff;
	    border-radius: 50%;
	    height: 40px;
	    width: 40px;
	    padding: 6px;
	    background-color: rgba(28, 32, 68,1);
	    font-size: 17px;
	    position: relative;
	    top: 14px;
		-webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
	    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
	    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.img-carousel{
		width: 70px;
	    height: 70px;
	    margin-top: 15px;
	    border-radius: 50%;
	}
	.name-empresa{
		font-size: 15px;
		margin: 5px 0px;
	}
	.name-cuest{
		font-size: 12px;
	}
	.description-cuest{
		font-size: 10px;
		white-space: nowrap;
	    text-overflow: ellipsis;
	    width: 100%;
	    overflow: hidden;
	}
}
