page-home {
	.img-empty{
		height: 55px;
    	margin-top: 65px;
	}
	.title-pend{
	    text-align: center;
	    font-size: 13px;
	    font-weight: 500;
	    text-transform: uppercase;
	}
	.img-user{
		width: 50px;
		height: 50px;
		float: left;
		margin-right: 15px;
		border-radius: 50rem;
		object-fit: cover;
	}
	.text-user{
	    margin: 7px 0px 3px;
	    font-weight: bold;
	    font-size: 14px;
	    color: #fafdfe;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    width: 76%;
	    overflow: hidden;
	}
	.content-info{
		padding: 10px 20px 17px;
	    //background-color: rgba(73, 60, 125, 0.25);
	    background-color: rgba(255, 255, 255, 0.2);
	}
	.text-count{
		font-size: 11px;
		display: inline-block;
		margin: 0px;
	}
	.content-saldo{
		text-align: right;
	    color: #1d2144;
	    width: 180px;
	    height: 90px;
	    padding: 10px;
	    position: absolute;
	    right: 0px;
	    background: linear-gradient(to top right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) 100%);
	}
	.p-mount{
		margin: 0px;
	    font-size: 20px;
	    font-weight: 500;
	}
	.title-mount{
		margin: 0px;
    	font-size: 9px;
	}
	.content-carousel{
		padding-top: 165px;
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    height: 100%;
	    bottom: 56px;
	}
	.carousel-container {
	  padding: 25px 0;
	  margin: 0 auto;
	  width: 230px;
	  height: 275px;
	  position: relative;
	  perspective: 2000px;
	}
	.carousel {
	  height: 100%;
	  width: 100%;
	  position: absolute;
	  transform-style: preserve-3d;
	  transition: transform 1s;
	}
	.carousel-slide-item {
	  padding: 0px 20px;
	  display: block;
	  position: absolute;
	  //background:rgba(28, 32, 68, 0.75);
	  background:rgba(255, 255, 255, 1);
	  width: 100%;
	  height: 100%;
	  text-align: center;
	  color: rgba(28, 32, 68,1);
	  opacity: 0.98;
	  top: 3%;
	  border-radius: 15px;
	  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
		box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
		-webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
		transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
		transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
		transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.buttom-tg{
		color: #fff;
	    border-radius: 50%;
	    height: 40px;
	    width: 40px;
	    padding: 6px;
	    background-color: rgba(28, 32, 68,1);
	    font-size: 17px;
	    position: absolute;
	    bottom: -14px;
	    left: 0;
	    right: 0;
	    margin: auto;
		-webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
	    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
	    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.img-carousel{
		width: 40%;
	    height: 30%;
	    margin-top: 15px;
	    border-radius: 50%;
	    -o-object-fit: cover;
	    object-fit: cover;
	    border: 1px solid #eee;
	}
	.name-empresa{
		font-size: 15px;
		margin: 5px 0px;
	}
	.name-cuest{
		font-size: 12px;
	}
	.description-cuest{
		font-size: 10px;
	    width: 100%;
	    overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		line-height: 13px;     /* fallback */
		max-height: 70px;      /* fallback */
		-webkit-line-clamp: 5; /* number of lines to show */
		-webkit-box-orient: vertical;
		margin-top: 3px;
	}
	.description-cuest1{
		font-size: 8px;
	    width: 100%;
	    margin: 0px;
	    font-weight: bold;
	}
	@media only screen and (max-height: 569px){
	 	.content-carousel{
	    	height: calc(100% + 25%);
		}
	}
}


