page-contact {
	.content-ios, .content-md {
	    color: #000;
	}
	.header-profile{
		background-image: url(../assets/imgs/background1.jpg);
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: top;
	    text-align: center;
	    padding: 15% 0% 0%;
	}
	.img-profile{
	    border-radius: 50%;
	    width: 80px;
    	height: 80px;
    	object-fit: cover;
	}
	.name-profile{
		font-size: 17px;
	    margin: 10px;
	    color: #fff;
	    font-weight: bold;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	}
	.content-count{
		color: #fff;
		text-align: center;
	}
	.number-count{
		font-size: 20px;
		margin: 3% 0px;
	}
	.title-count{
		margin: 0px 0px 3px;
		font-size: 11px;
	}
	[col-6]{
		padding: 0px;
		margin: 4px 0px 10px;
	}
	.content-card{
		background-color: #fff;
		height: 55%;
	}
	.logout-title{
		color: #0b417a;
	    display: block;
	    text-align: right;
	    font-size: 15px;
	    text-transform: unset;
	    margin: 15px 7%;
	}
	.icon-edit{
		font-size: 20px;
	    text-align: right;
	    position: absolute;
	    color: #fff;
	    right: 25px;
	    top: 8%;
	    border: 1px solid #fff;
	    border-radius: 50%;
	    width: 28px;
	    height: 28px;
	    padding: 3px 6px;
	}
	.badge-md, .badge-ios {
	  color: #fff;
	  background-color: #D32F2F;
	  width: 16px;
	  height: 16px;
	  border-radius: 50%;
	  font-size: 11px;
	  position: absolute;
	  right: 19px;
	  top: 6.8%;
	  padding: 3px 0%;
	  z-index: 2;
	}
	[col-6]{
		align-items: center;
	}
	.border-rb{
		border-right: 1px solid #ccc;
		height: 100%;
	    align-items: center;
	    display: flex;
	    padding-left: 5%;
	    white-space: nowrap;
	}
	.border-b{
		border-bottom: 1px solid #ccc;
		height: 100%;
	    align-items: center;
	    display: flex;
	    padding-left: 5%;
	    white-space: nowrap;
	}
	.content-menu{
		height: 85%;
	}
	.item-menu{
		height: 33.3333%;
	}
	.item-center{
		height: 100%;
	    align-items: center;
	    display: flex;
	    padding-left: 5%;
	    white-space: nowrap;
	}
	.icon-menu{
		margin-right: 10px;
		color: #493C7D;
	}
	.list-header-md, .list-header-ios{
		border-top: none;
		margin-bottom: 0px;
	}
	.label-md[stacked], .label-ios[stacked] {
    	font-size: 1.4rem;
	}
	.header-title{
		text-transform: uppercase;
	    margin-top: 15px;
	    font-size: 1.1rem;
	    font-weight: 500;
    	letter-spacing: 0.1rem;
    	color: #333;
	}
	.list-header-ios{
		border-bottom: none;
	}
	.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    	border-bottom: none;
	}
	.item-md, .item-ios{
		background-color: transparent;
		color: #fff;
	}
	.list-md, .list-ios{
		margin: 30px 0 16px;
	}
	.list-md .item-block .item-inner, .list-ios .item-block .item-inner {
    	border-bottom: 1px solid rgba(255,255,255,0.1); 
	}
	.mr-10{
		margin-right: 10px;
	}
	.text-count{
		font-size: 11px;
		display: inline-block;
		margin: 0px 0px 10px;
		color: #fafdfe;
	}
	.list-ios > .item-block:first-child {
	    border-top: none;
	}
}
