<ion-header>
  <ion-navbar>
    <ion-title>
      
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="center">
		<img src="assets/imgs/logo-w.png" width="30%">
		<h2>EN CONSTRUCCIÓN</h2>
	</div>
	<button ion-button icon-start class="b-login" (click)="logout()"><img src="assets/imgs/login.png" class="icon-button"> Cerrar Sesión</button>
</ion-content>
